In [6]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

### NASA Mars News

In [7]:
# Tried using get request, didn't work - it did not return an error, but also did not return any results.  
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\kaldm\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

In [8]:
# Assign variable for NASA Mars News Site(https://mars.nasa.gov/news/) 
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [9]:
# Scrape the website for the most recent headline. Note that, for the headline title, this is the second item 
# on the page, as the first is in the navigation bar (although it does not appear that way upon inspection)
# the paragraph is the first on the page 

# ****  Note, when I restarted and ran the kernel, at first I got an error in this call ***** 
#     "list index out of range".  But then whan I ran this cell separately, it was ok.  

html = browser.html
soup = bs(html, 'html.parser')
title = soup.find_all('div', class_='content_title')[1].text
paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
   
# print article info
print('-----------------')
print(title)
print(paragraph)

-----------------
MOXIE Could Help Future Rockets Launch Off Mars
NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

In [10]:
browser.quit()

### JPL Mars Space Images - Featured Image

In [11]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\kaldm\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

In [12]:
# url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [13]:
#find the large-size images - it is 2 clicks away. First click
html = browser.html
soup = bs(html, 'html.parser')
image = soup.find(id = "full_image")["data-link"]
feature_image_url = "https://www.jpl.nasa.gov" + image
print(feature_image_url)

https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA23354

In [14]:
browser.quit()

### Mars Facts

In [15]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\kaldm\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

In [16]:
# url for Mars Facts [here](https://space-facts.com/mars/)
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [19]:
# Use Pandas to scrape the table containing facts about the planet. First import dependency
import pandas as pd

In [21]:
#read table
table = pd.read_html(url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [24]:
## result is one list, one table. convert list to a dataframe - calling [0] for the first table, in the page,
# although here there is only one  
planet_df = table[0]
planet_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [27]:
# assign column header names 
planet_df.columns = ['Fact Type', 'Answer']
planet_df

              Fact Type                         Answer
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
#convert table to html table string 
html_table = planet_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact Type</th>\n      <th>Answer</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [32]:
# ***** Why didn't this work at all? *****
# remove new lines /carriage returns
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact Type</th>\n      <th>Answer</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [34]:
planet_df.to_html('table.html')
## despite the fact that the \n replace did not work, the table still shows up ok in html

### Mars Hemispheres

# Reference Code Attempts

In [ ]:
# # HTML object
# html = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
# soup = bs(html, 'html.parser')

In [ ]:
## Mongo DB stuff

# # Initialize PyMongo to work with MongoDBs
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)

# # Define database and collection
# db = client.nhl_db
# collection = db.articles

In [ ]:
#     # Dictionary to be inserted into MongoDB
#     post = {
#         'title': header,
#         'paragraph': subheader,
#     }

#     # Insert dictionary into MongoDB as a document
#     collection.insert_one(post)

In [ ]:
 
#     button = browser.click_link_by_id("full_image")
#     button.click
#     button 
#     browser.links.find_by_partial_text("more info").click()

    
    
    # browser.links.find_by_partial_text("Full Image").click()
#     browser.links.find_by_partial_text("more info").click()
#     browser.links.find_by_partial_text("more info").click()
#     quotes = soup.find_all('span', class_='text')

#     for quote in quotes:
#         print('page:', x, '-------------')
#         print(quote.text)

#     browser.links.find_by_partial_text('Full Image').click()

In [ ]:
# Retrieve page with the requests module
# response = requests.get(url)

# # collect the latest News Title and Paragraph Text. 
# results = soup.find_all('div', class_='content_title')
# results = soup.find_all('div', class_='list_text')
# results = soup.find_all('div', class_='bottom_gradient')
# results = soup.find_all('h3', class_='list_text')

In [ ]:
# for result in results: 
#     titles = soup.find_all('div', class_='content_title')
# #     paragraph = result.find('div', class_='article_teaser_body').text
   
#     # print article info
#     print('-----------------')
#     print(titles)
# #     print(paragraph)

In [ ]:
# Print all title texts
# titles = soup.find_all('div', class_='content_title')
# for title in titles:
#     print(title.text)

# titles = soup.find_all('h3')
# for title in titles:
#     print(title)

# titles = soup.find_all('h3')
# for title in titles:
#     print(title.text)

In [ ]:
# # Extract title text
# title = soup.title.text
# print (title)

In [ ]:
# for result in results: 
#     title = result.find('div', class_='content_title').text
#     paragraph = result.find('div', class_='article_teaser_body').text
   
#     # print article info
#     print('-----------------')
#     print(title)
#     print(paragraph)

In [ ]:
# # loop over results to get article title and paragraph and store in lists for later
# titles = []
# for result in results:
#     if (div.content_title):
#         if (div.content_title.text):
#             titles.append(div)
        
#     # scrape the article title 
# #     title = result.find('div', class_='content_title').text
# #     paragraph = result.find('div', class_='article_teaser_body').text

In [ ]:
# planet_df.rename(columns={"0": "Property", "1": "Measurement"}, inplace=True)
# planet_df