In [6]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

### NASA Mars News

In [89]:
# Tried using get request, didn't work - it did not return an error, but also did not return any results.  
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\kaldm\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

In [42]:
# Assign variable for NASA Mars News Site(https://mars.nasa.gov/news/) 
url_news = 'https://mars.nasa.gov/news/'
browser.visit(url_news)

In [43]:
# Scrape the website for the most recent headline. Note that, for the headline title, this is the second item 
# on the page, as the first is in the navigation bar (although it does not appear that way upon inspection)
# the paragraph is the first on the page 

# ****  Note, when I restarted and ran the kernel, at first I got an error in this call ***** 
#     "list index out of range".  But then whan I ran this cell separately, it was ok.  

html = browser.html
soup = bs(html, 'html.parser')
title = soup.find_all('div', class_='content_title')[1].text
paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
   
# print article info
print('-----------------')
print(title)
print(paragraph)

-----------------
MOXIE Could Help Future Rockets Launch Off Mars
NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

In [40]:
# browser.quit()

### JPL Mars Space Images - Featured Image

In [78]:
# # Setup splinter
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

In [79]:
# url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars)
url_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_image)

In [80]:
#find the large-size images - it is 2 clicks away. First click
html = browser.html
soup = bs(html, 'html.parser')
image = soup.find(id = "full_image")["data-link"]
feature_image_url = "https://www.jpl.nasa.gov" + image
print(feature_image_url)

## but I need the actual href tot he jpg itself

https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA14293

In [81]:
browser.visit(feature_image_url)

In [83]:
html = browser.html
soup = bs(html, 'html.parser')
image_lg = soup.find('img', class_ = "main_image")["src"]
image_lg_url = "https://www.jpl.nasa.gov" + image_lg
print (image_lg_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14293_hires.jpg

In [47]:
# browser.quit()

### Mars Facts

In [48]:
# # Setup splinter
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

In [49]:
# url for Mars Facts [here](https://space-facts.com/mars/)
url_facts = 'https://space-facts.com/mars/'
browser.visit(url_facts)

In [50]:
# Use Pandas to scrape the table containing facts about the planet. First import dependency
import pandas as pd

In [51]:
#read table
table = pd.read_html(url_facts)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [52]:
## result is one list, one table. convert list to a dataframe - calling [0] for the first table, in the page,
# although here there is only one  
planet_df = table[0]
planet_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [53]:
# assign column header names 
planet_df.columns = ['Fact Type', 'Answer']
planet_df

              Fact Type                         Answer
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [54]:
#convert table to html table string 
html_table = planet_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact Type</th>\n      <th>Answer</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [85]:
# remove new lines /carriage returns

html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Fact Type</th>      <th>Answer</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [86]:
planet_df.to_html('table.html')
## despite the fact that the \n replace did not work, the table still shows up ok in html

In [57]:
# browser.quit()

### Mars Hemispheres

In [90]:
# url [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) 
# obtain high resolution images for each of Mar's hemispheres.
# # Setup splinter
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

# Assign variable for url https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars 
url_astro = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_astro)

In [98]:
## returns a list of all h3
# browser.find_by_tag('h3')
# to show the element, you can add .html and also specify list item
# browser.find_by_tag('h3')[1].html

#to click on the html - now at the next page
browser.find_by_tag('h3').click()

In [100]:
# Create HTML and beautiful soup objects
html = browser.html
soup = bs(html, 'html.parser')

In [114]:
# This works
image_1 = soup.find('img', class_='wide-image')['src']
# image_1 = soup.find('img', class_='wide-image')

In [115]:
print (image_1)

/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

In [116]:
#https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

image_1_url = 'https://astrogeology.usgs.gov' + image_1
print(image_1_url)

https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

In [118]:
title_1 = soup.find('h2', class_= 'title').text

In [119]:
print(title_1)

Cerberus Hemisphere Enhanced

In [120]:
hemi_dict = {'Title': title_1, 'Image': image_1_url}

In [121]:
browser.back()

In [122]:
#check where I went back to - I am back to the original page 
browser.url

'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [123]:
# now need to construct for-loop

hemi_list = []
# for title in titles:
for i in range(4):
    browser.find_by_tag('h3')[i].click()
    html = browser.html
    soup = bs(html, 'html.parser')
    image_1 = soup.find('img', class_='wide-image')['src']
    image_1_url = 'https://astrogeology.usgs.gov' + image_1
    title_1 = soup.find('h2', class_= 'title').text
    hemi_dict = {'Title': title_1, 'Image': image_1_url}
    hemi_list.append(hemi_dict)
    browser.back()

In [127]:
for i in (hemi_list):
    print (i)

{'Title': 'Cerberus Hemisphere Enhanced', 'Image': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}
{'Title': 'Schiaparelli Hemisphere Enhanced', 'Image': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}
{'Title': 'Syrtis Major Hemisphere Enhanced', 'Image': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}
{'Title': 'Valles Marineris Hemisphere Enhanced', 'Image': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}

In [74]:
# need a for-loop to iterate over the images?

# This works
# images = soup.find('img', class_='thumb')['src']

# But this doesn't. Error: list indices must be integers or slices, not str - so I guess 
# images = soup.find_all('img', class_='thumb')['src']


# Try this- ok this works, and entering diff index yields different image source, but it provides all the 
# info in the image tag. I want just the source. Need to get just the source, then iterate over these.  
# tried to add src into the params, does not work. SyntaxError: positional argument follows keyword argument
# images = soup.find_all('img', class_='thumb')[0]
# print (images)

images = soup.find_all('img', class_='thumb')
print (images)

# # what about just this - ok, this lists all of the image tag contents for each one 
# images = soup.find_all('img', class_='thumb')
# print (images)

[<img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/>, <img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/>, <img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/>, <img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/>]

In [77]:
for image in images:
    source = image.find('src')
    print (source)

None
None
None
None

In [ ]:
## use browser to click through splinter.  1 - find element, 2 - click on element 


 
    
    
#     button = browser.click_link_by_id("full_image")
#     button.click
#     button 
#     browser.links.find_by_partial_text("more info").click()

    
    
    # browser.links.find_by_partial_text("Full Image").click()
#     browser.links.find_by_partial_text("more info").click()
#     browser.links.find_by_partial_text("more info").click()
#     quotes = soup.find_all('span', class_='text')

#     for quote in quotes:
#         print('page:', x, '-------------')
#         print(quote.text)

#     browser.links.find_by_partial_text('Full Image').click()

In [ ]:
# *** OTHER CODE **** 
# for title in titles:
#     print(title.text)

# titles = soup.find_all('h3')
# for title in titles:
#     print(title)

# titles = soup.find_all('h3')
# for title in titles:
#     print(title.text)


# title = soup.find_all('div', class_='content_title')[1].text
# paragraph = soup.find_all('div', class_='article_teaser_body')[0].text

In [ ]:
browser.quit()

# Reference Code Attempts

In [ ]:
# # HTML object
# html = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
# soup = bs(html, 'html.parser')

In [ ]:
## Mongo DB stuff

# # Initialize PyMongo to work with MongoDBs
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)

# # Define database and collection
# db = client.nhl_db
# collection = db.articles

In [ ]:
#     # Dictionary to be inserted into MongoDB
#     post = {
#         'title': header,
#         'paragraph': subheader,
#     }

#     # Insert dictionary into MongoDB as a document
#     collection.insert_one(post)

In [ ]:
# Retrieve page with the requests module
# response = requests.get(url)

# # collect the latest News Title and Paragraph Text. 
# results = soup.find_all('div', class_='content_title')
# results = soup.find_all('div', class_='list_text')
# results = soup.find_all('div', class_='bottom_gradient')
# results = soup.find_all('h3', class_='list_text')

In [ ]:
# for result in results: 
#     titles = soup.find_all('div', class_='content_title')
# #     paragraph = result.find('div', class_='article_teaser_body').text
   
#     # print article info
#     print('-----------------')
#     print(titles)
# #     print(paragraph)

In [ ]:
# Print all title texts
# titles = soup.find_all('div', class_='content_title')
# for title in titles:
#     print(title.text)

# titles = soup.find_all('h3')
# for title in titles:
#     print(title)

# titles = soup.find_all('h3')
# for title in titles:
#     print(title.text)

In [ ]:
# # Extract title text
# title = soup.title.text
# print (title)

In [ ]:
# for result in results: 
#     title = result.find('div', class_='content_title').text
#     paragraph = result.find('div', class_='article_teaser_body').text
   
#     # print article info
#     print('-----------------')
#     print(title)
#     print(paragraph)

In [ ]:
# # loop over results to get article title and paragraph and store in lists for later
# titles = []
# for result in results:
#     if (div.content_title):
#         if (div.content_title.text):
#             titles.append(div)
        
#     # scrape the article title 
# #     title = result.find('div', class_='content_title').text
# #     paragraph = result.find('div', class_='article_teaser_body').text

In [ ]:
# planet_df.rename(columns={"0": "Property", "1": "Measurement"}, inplace=True)
# planet_df